.main-menu {
    
    position: absolute;
    width: 1200px;
    height: 56px;
    left: 40px;
    top: 0px;
    background: #FFFFFF;
}

.main-menu li {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.info {
position: absolute;
width: 94px;
height: 26px;
left: 111px;
top: 15px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;
}

.gallery {
    position: absolute;
    width: 98px;
    height: 26px;
    left: 352px;
    top: 15px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}

.map {
    position: absolute;
    width: 85px;
    height: 26px;
    left: 840px;
    top: 15px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}

.hotels {
    position: absolute;
    width: 80px;
    height: 26px;
    left: 1088px;
    top: 15px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}

.welcome {
    position: absolute;
    width: 1200px;
    height: 509px;
    left: 40px;
    top: 55px;
    background-image: url(../img/background_photo.png);
}

.logo {
    position: absolute;
    width: 138px;
    height: 70px;
    left: 571px;
    top: 0px;
    background-image: url(..//img/shape_logo_1.png);
    z-index: 1;
}

.five-reasons-top {
    position: absolute;
    width: 1200px;
    height: 57px;
    left: 40px;
    top: 508px;

    background-image: url(../img/shape_2.png);
}

.five-reasons {
    position: absolute;
    width: 1200px;
    height: 216px;
    left: 40px;
    top: 564px;

    background: #FFFFFF;
    border: solid 1px black;
}

.five-reasons-text-1 {
    position: absolute;
    width: 470px;
    height: 80px;
    left: 405px;
    top: 606.5px;

    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    /* or 124% */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #000000;

}