.twitter-logo {
    width: 46px;
    height: 48px;
    background: #81B3D2;
    text-align: center;
}

.fb-logo {
    width: 46px;
    height: 48px;
    background: #81B3D2;
    text-align: center;
}

.youtube-logo {
    width: 46px;
    height: 48px;
    background: #81B3D2;
    text-align: center;
}

nav {
    position: absolute;
    width: 1200px;
    height: 56px;
    left: 40px;
    top: 0px;
    background: #FFFFFF;
  
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    color: black;
}