.main-menu {
    
    position: absolute;
    width: 1200px;
    height: 56px;
    left: 40px;
    top: 0px;
    background: #FFFFFF;
}

.main-menu li {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.info {
position: absolute;
width: 94px;
height: 26px;
left: 111px;
top: 15px;

font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;
}

.gallery {
    position: absolute;
    width: 98px;
    height: 26px;
    left: 352px;
    top: 15px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}

.map {
    position: absolute;
    width: 85px;
    height: 26px;
    left: 840px;
    top: 15px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}

.hotels {
    position: absolute;
    width: 80px;
    height: 26px;
    left: 1088px;
    top: 15px;
    
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    color: #000000;
}

.logo {
    position: absolute;
    width: 138px;
    height: 70px;
    left: 571px;
    top: 0px;
}